/* Makes text pretty and sets everything in the correct position */

body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5em;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: blue;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: rgb(0, 166, 255);
    flex-direction: column;
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-display: 2rem;
}
.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}

#gtx970 {
width: 200px;
height: 200px;
    object-fit: scale-down none;
}

.choice_image{
    width: 200px;
    height: 100px;
}