body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5em;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
/* Makes the button design */
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: blue;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
/* Makes the button have a sort of hover over effect */
.choices button:hover{
    background-color: rgb(0, 166, 255);
    flex-direction: column;
}
/* Rest effects the basic text in the game */
#playerDisplayT{
    font-size: 2.5rem;
    left: -600px;
    position: absolute;
} #computerDisplayT{
    font-size: 2.5rem;
    position: absolute;
    left: 350px;
}
#playerDisplay{
    font-size: 2.5rem;
    left: -600px;
    position: absolute;
} #computerDisplay{
    font-size: 2.5rem;
    position: absolute;
    left: 350px;
    top: 30px;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-display: 2rem;
}
.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}

#gtx970 {

    object-fit: scale-down none;
}

.CT {
    position: absolute;
    flex-direction: column;
    top: 650px;
}

.choice_image {
    height: 60px;
    width: 60px;
}