.BC{
    position: absolute;
    align-items: center;
    border: 5px rgb(255, 0, 0);
    flex-direction: row;
    display: flex;
    top: 200px;
    left: 770px;
}

.unhideF {
    visibility: visible;
}

#rock{
width: 75px;
height: 75px;
border-radius: 50%;
background-image: url("rock.png");
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
flex-direction: row;
}

#paper{
width: 75px;
height: 75px;
border-radius: 50%;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
flex-direction: row;
}

#scissors{
width: 75px;
height: 75px;
border-radius: 50%;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
flex-direction: row;
}

#gtx970{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    }

#nokia{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    }
    #VS {
        position: absolute;
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px; 
        width: 375px;
        height: 150px;  
       left: 747px; 
        top: 300px;
      }
    #VS_Logo {
        position: absolute;
        top: 375px;
        left: 930px;
    }

    #Computer {
        position: absolute;
        top: 335px;
        left: 1000px;
    }
    
.winner_box {
    position: absolute;
    left: 750px;
    top: 500px;
}

#rockD{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
    
    #paperD{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
position: absolute;
    }
    
    #scissorsD{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
position: absolute;
    }
    
    #gtx970D{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
position: absolute;
        }
    
    #nokiaD{
        position: absolute;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        left: 800px;
        top: 350px;
    }